/*start vars*/
:root {
	--mainColor: #55ade7;
	--transparentColor: #5294b4;
	--mainPadding: 100px;
}
/*end vars*/
/*start global rules*/
* {
	box-sizing: border-box;
	padding: 0;
	margin: 0;
}
html {
	scroll-behavior: smooth;
}
body {
	font-family: "Open Sans", sans-serif;
}
ul {
	list-style: none;
}
.pd-y{
    padding: 60px 0;
}
.container {
    padding-left: 15px;
 	padding-right: 15px;
 	margin-right: auto;
	margin-left: auto;	
	min-height: 97px;
}
.main-heading{
	text-align: center;
}
.main-heading h2{
	font-size: 40px;
	text-transform: uppercase;
	position: relative;
}
.main-heading h2::before{
	content: "";
    position: absolute;
    height: 2px;
    background: #333;
    width: 120px;
    left: 50%;
    transform: translateX(-50%);
    bottom: -30px;
}

.main-heading h2::after{
    content: "";
    position: absolute;
    width: 14px;
    height: 14px;
    border-radius: 50%;
    border: 2px solid #333;
    background-color: white;
    left: 50%;
    transform: translateX(-50%);
    bottom: -36px;
}
.main-heading p{
	width: 400px;
	margin: 70px auto;
	color: #a2a2a2;
}
.landing{
	position: relative;
	min-height: 100vh;
	background-image: url(../images/subscribe.jpg);
	background-size: cover;
}
.hover{
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 640px;
    background-color: rgba(0, 0, 0, 0.349);
}
.opacity:hover{
	opacity: 0.5;
}
/*small*/
@media (min-width: 768px) {
.container {
	width: 750px;
}
}
/*medium*/
@media (min-width: 992px) {
.container {
	width: 970px;
}
}
/*large*/
@media (min-width: 1200px) {
.container {
	width: 1170px;
}
}
/*end global rules*/


/*start header*/
header {
    position: absolute;
    left: 0;
    width: 100%;
    z-index: 2;
}
header .container {
	display: flex;
    justify-content: space-between;
    align-items: center;
    position: relative;
}
header .container::before {
    content: "";
    position: absolute;
    height: 1px;
    background-color: #a2a2a2;
    width: calc(100% - 30px);
    bottom: 0px;
    left: 15px;
}
header .logo img {
	height: 40px;
}
header nav {
	flex: 1;
	display: flex;
	justify-content: flex-end;
	align-items: center;
}
header nav .toggle-menu {
	color: white;
	font-size: 22px;
}
@media (min-width: 768px) {
	header nav .toggle-menu {
		display: none;
	}
}
header nav ul {
	display: flex;
}
@media (max-width: 767px) {
	header nav ul {
		display: none;
	}
	header nav .toggle-menu:hover + ul {
		display: flex;
    	flex-direction: column;
    	position: absolute;
    	top: 100%;
    	left: 0;
    	width: 100%;
    	background-color: rgba(0, 0, 0, 0.687);
	}
	header nav .toggle-menu:hover + ul li a {
		padding: 15px;
	}
}
header nav ul li a {
	display: block;
	color: white;
	text-decoration: none;
	font-size: 14px;
	transition: .3s;
	padding: 40px 10px;
	position: relative;
	z-index: 2;
}
header nav ul a.active,
header nav ul a:hover {
	color: var(--mainColor);
	border-bottom: 1px solid var(--mainColor);
}
header nav .form {
	width: 40px;
	height: 30px;
	position: relative;
	margin-left: 30px;
	border-left: 1px solid white;
}
header nav .form i {
    color: white;
    position: absolute;
    font-size: 20px;
    top: 50%;
    transform: translateY(-50%);
    right: 0;
}
.main{
	margin-top:150px ;
	line-height: 35px;
	background-color: rgba(15, 115, 143, 0.438);
	width: 600px;
	padding-top: 40px;
	padding-left: 150px;
	color: white;
	text-transform: capitalize;
	height: 250px;
	transition: all .5s linear;
}
.main:hover{
	transform: scale(0.1);
}

.main p:first-of-type{
	font-size: xx-large;
	font-weight: bold;
}
.main p:nth-child(2){
	font-size: x-large;
	font-weight: bold;
}
.main p:last-child{
	font-size: small;
}
header .circle{
	text-align: center;
	margin-top: 90px;
}
header .circle li{
	display: inline-block;
	width: 25px;
	height: 25px;
	border-radius: 50%;
	margin-left: 7px;
	border: 1px solid white;
}
header .circle li:nth-child(2){
	background-color: var(--mainColor);
	border: 0;
}
header .circle li:hover{
	background-color: var(--mainColor);
	border: 0;
}
/*end header*/
/*start service-section*/
.services{
	position: relative;
}
.services-container{
	display: grid;
	grid-template-columns: repeat(2,450px);
	justify-content: space-around;
	row-gap: 30px;
}
.service-item{
	border: 1px solid #a2a2a2;
	padding: 20px;
    display: flex;
	gap: 25px;
}
.service-item i{
	display: block;
}
.service-item-content p:first-child{
	margin-bottom: 10px;
	color: var(--mainColor);
	font-weight: bold;
	font-size: 30px;
}
.ltr-effect{
	position: relative;
}
.ltr-effect::after{
	position: absolute;
	content: "";
	width: 0;
	top: 0;
	left: 0;
	right: 0;
	bottom: 0;
	background-color:#a3adc7;
	transition: width 0.5s;
	}
	.ltr-effect:hover p:first-child{
        color: #e4f7fb;
	}
	.ltr-effect:hover::after{
		width: 100%;
		z-index: -1;
	}
	@media(max-width: 768px){
		.services-container{
			grid-template-columns: repeat(1,450px);
		}
	}
/*end service-section*/
/*start portfolio-section*/
.portfolio-content{
	display: flex;
	flex-wrap: wrap;
}
.portfolio-content >div{
	flex-basis: 25%;
	height: 200px;
}
.portfolio-content >div img{
	width: 100%;
	height: 100%;
}
.portfolio-content .line{
position: relative;
}
.line-content{
	text-align: center;
	position: absolute;
	background-color: white;
	height: 80;
	width: 100%;
	bottom: 0;
	z-index: -1;
	opacity: 0;
	transition: all .5s;
}
.line-content p:first-child{
	color: var(--mainColor);
	font-weight: bold;
	font-size: large;
}
.line-content p:last-child{
	font-style: italic;
}
.line:hover .line-content{
	z-index: 1;
	opacity: 1;
	transform: skew(5deg,-5deg);
}
.line:hover img{
	transform: skew(5deg,-5deg);
}
@media (max-width:768px) {
	.portfolio-content{
		flex-direction: column;
	}
}
/*end portfolio section*/
/*start about section*/
.about-content{
	margin: 150px 0;
	display: flex;
	gap: 10px;
}
.about-content >div{
	flex-basis: 25%;
	text-align: center;
	border: 1px solid var(--transparentColor);
	padding: 30px;
	border-radius: 10px;
}
.about-content i{
	margin-bottom: 60px;
	color: var(--mainColor);
}
.about-content p:nth-child(2)
{
	font-size: xx-large;
	font-weight: 900;
	margin-bottom: 35px;
}
.about-content p:last-child{
	font-size: medium;
	color: #a2a2a2
}
@media (max-width:768px) {
	.about-content{
		flex-direction: column;
	}
}
/*end about section*/
/*start video section*/
.video{
	position: relative;
}
video{
	object-fit: fill;
}
.video-content{
	position: absolute;
	top: 35%;
	background-color:  rgba(15, 115, 143, 0.617);
	text-align: center;
	width: 100%;
	line-height: 45px;
	padding: 20px;
}
.video-content p:first-child{
	color: white;
	font-size: xx-large;
	font-weight: bold;
	text-transform: uppercase;
}
.video-content p:nth-child(2){
	color: rgba(255, 255, 255, 0.902);
	font-size: medium;
}
.video-content button{
	padding: 10px;
	background: black;
	color: white;
	font-size: medium;
}
/*end video section*/
/*start skills section*/
.skills-section .container{
	display: flex;
	justify-content: space-between;
}
.skills , .testimonals{
	flex-basis: 45%;
}
.testimonals-header ,.skills-header {
	text-align: center;
}
.testimonals-header p ,.skills-header p{
	color: #a2a2a2;
	width: 400px;
	margin: 0 0 30px 60px;
}
.testimonals-header h2,.skills-header h2{
	font-weight: bold;
}
.testimonals-content{
	display: flex;
	gap: 20px;
}
.testimonals-content img{
	display: block;
	width: 100px;
	height: 100px;
	border-radius: 50%;
}
.testimonals-content-item p:last-child{
	text-align: right;
	color: #a2a2a2;
}
.content{
	display: flex;
	flex-direction: column;
	gap: 20px;
}
.skills-content{
	margin-left: 20px;
}
.skills-content >p{
	text-transform: uppercase;
	font-weight: bold;
	font-size: large;
}
.skills-content .parent{
	position: relative;
	width: 400px;
	height: 20px;
	background-color:#a3adc776;
	margin:5px 20px;
}
.skills-content .parent >div{
	position: relative;
	height: 20px;
	background-color:rgba(15, 115, 143, 0.617);
	color: #e4f7fb;
	text-align: center;
	font-weight: bold;
}
.skills-content .parent .child1{
	width: 10%;
}
.skills-content .parent .child2{
	width: 90%;
}
.skills-content .parent .child3{
width: 70%;
}
.skills-content .parent .child4{
	width: 50%;
}
@media (max-width:768px) {
	.skills-section .container{
		flex-direction: column;
	}
}
/*end skills section*/
/*start team section*/
.team{
	display: flex;
	gap: 20px;
}
.team >div{
	flex-basis: 35%;
	background-color: #e4f7fb;
	border-radius: 10px;
}
.team img{
	border-radius: 10px;
	width: 100%;
}
.team p{
	margin-left: 20px;
}
.member1 p:nth-child(2),.member2 p:nth-child(2),.member3 p:nth-child(2){
	margin-top: 10px;
	font-size: x-large;
	font-weight: bold;
	text-transform: capitalize;
}
.member1 p:nth-child(3),.member2 p:nth-child(3),.member3 p:nth-child(3){
	margin-top: 15px;
	color: #a2a2a2;
	font-size: large;
	font-weight: bold;
}
.member1 p:nth-child(4),.member2 p:nth-child(4),.member3 p:nth-child(4){
	margin-top: 10px;
}
.member1 button,.member2 button,.member3 button{
	margin: 20px 35%;
	width: 120px;
	padding: 10px;
	color: white;
	border-radius: 7px;
	background-color: var(--transparentColor);
}
.team button i{
	margin-right: 4px;
}
@media (max-width:768px) {
	.team{
		flex-direction: column;
	}
}
/*end team section*/
/*start contact section*/
.contact .contact-content{
	display: flex;
	justify-content: space-around;
	text-align: center;
	line-height: 40px;
	gap: 20px;
	}
	.contact-content h2{
		font-weight: bold;
	}
	.contact .contact-content >div{
		margin-left: 40px;
	}
	.contact i{
		color: var(--mainColor);
		margin-bottom: 12px;
	}
	.contact-form{
		width: 800px;
		margin: 50px auto 0;
		display: grid;
		grid-template-columns: 1fr;
		grid-template-rows: repeat(3,auto) 1fr auto;
		gap: 20px;
		height: 300px;
	}
	.contact-form >input{
		padding: 10px;
		background-color: #e4f7fb;
		border: none;
		font-size: medium;
		opacity: 0.5;
	}
	.contact-form textarea{
	padding: 10px;
	background-color:#e4f7fb;
	color: white;
	border: none;
	font-size: large;
	opacity: 0.5;
	}
	.contact button{
		border: none;
		text-align: center;
		width:170px ;
		padding: 10px;
		background-color:var(--transparentColor);
		color: white;
		border-radius: 7px;
		margin-left: 490px;
		font-size: large;
		font-weight: bold;
	}
/*end contact section*/
/*start footer section*/
.footer{
	margin-top: 70px;
	height: 150px;
	background-color: #333;
	text-align: center;
}
.footer .container{
	display: flex;
	flex-direction: column;
	align-items: center;
	gap: 40px;
}
.start-again{
	background-color: var(--mainColor);
	width: 180px;
	padding: 10px;
	border-radius: 7px;
	margin-top: 30px;
}
.start-again a{
	text-transform: capitalize;
	text-decoration: none;
	color: #e4f7fb;
	font-weight: bold;
	font-size: large;
}
.start-again i{
	margin-right: 7px;
}
.footer p{
	color: #e4f7fb;
}

/*end footer section*/